:root {
    --transition: all 0.3s linear;
}

article {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: var(--transition);
}

#section {
    margin: 0 auto;
    margin-top: 4rem;
    width: 80vw;
    /* have to have a height */
    height: 450px;
    max-width: 800px;
    text-align: center;
    position: relative;
    display: flex;
    overflow: hidden;
}

article#activeSlide {
    opacity: 1;
    transform: translateX(0%);
}

article#lastSlide {
    transform: translateX(-100%);
}

article#nextSlide {
    transform: translateX(100%);
}

.next,
.prev {
    position: absolute;
    top: 200px;
    transform: translateY(-50%);
    width: 1.25rem;
    height: 1.25rem;
    display: grid;
    place-items: center;
    border-color: transparent;
    font-size: 1rem;
    cursor: pointer;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

.image {
    margin: 0 auto;
    margin-top: 4rem;
    width: 60vw;
    /* have to have a height */
    height: 450px;
    max-width: 800px;
    text-align: center;
    position: relative;
    display: flex;
    overflow: hidden;
}

@keyframes slowLoad {
    0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
}
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-30px);
    }
    60% {
      transform: translateY(-15px);
    }
  }

#CategoryItems {
    animation: slowLoad 1s ease-in-out;
}
  #bounce-element{
    /* animation: bounce 0.5s ease */
    transition: all 0.3s ease
}
#bounce-element:hover{
    transform: scale(1.2);
}
.loader {
    width: 48px;
    height: 48px;
    border: 5px solid #FFF;
    border-bottom-color: skyblue;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    }

    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    } 
    .active{
        background-color: aqua;
    }